<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <a class="navbar-brand" href="#">App1</a>
  <div class="navbar-nav">
    <a class="navitem nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="navitem nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="navitem nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>